.ulstyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #001717;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 15px 15px;
  display: block;
}

.homepage {
  background-image: url(https://images.unsplash.com/photo-1506647698801-382ccbd9db54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}

.destext {
  color: white;
  text-align: center;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.btncall {
  background-color: white;
  color: #001717;
  padding: 14px 12px;
  width: 40%;
  border: none;
  border-radius: 25px;
}

nav,
section {
  margin: 3px;
  padding: 0px 5px;
}

.center {
  text-align: center;
}

.flexbox {
  display: flex;
}

.flex-contain {
  display: flex;
}

#rhinotext {
  margin: 3px;
  padding: 5px;
}

#rhinofacts {
  border: 1px solid grey;
  margin: 3px;
  padding: 5px;
}

#rhinofacts ul {
  list-style-type: none;
}

#rhinofact li {
  padding: 4px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#team img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}
